<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">VCCORP</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/create_token">Thêm mới token</a></li>
        <li><a href="/user_die">User die</a></li>
        <li><a href="/change_password">Lấy lại token</a></li>
        <li><a href="/user_block_forever">User bị block</a></li>
        <li><a href="/statistic">Thống kê</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Đăng xuất</a></li>
      </ul>
    </div>
</nav>