<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="css/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.dataTables.min.js"></script>
	<script src="js/dataTables.bootstrap.min.js"></script>
	<script src="js/notify.min.js"></script>
	<script src="user_die_forever.js"></script>
	<script src="js/ShareForView/constant.js"></script>
	<style>
		body {
			word-wrap: break-word;
		}
	</style>
</head>

<body>
	<%- include('./header'); -%>
	<section class="content-header">
		<h4>
			<div class="row">
				<div class="col-sm-10">
					<small id="titleTab" style="padding-left: 7%; color: #000;">
						<i class="glyphicon glyphicon-hand-right"></i>
						<a href="/home"> Home</a> / User bị block hẳn
					</small>
				</div>

				<div class="col-sm-2">
					<button id="Save" type="button" class="btn btn-primary" onclick="Save()">Lưu thay đổi</button>
				</div>
			</div>
		</h4>
	</section>
	
	<div class="container">
		<div class="row">
			<table id="example" class="table table-striped table-bordered" style="width:100%">
				<thead>
					<tr>
						<th style="width: 90%; text-align: center;">Tên User</th>
						<th style="width: 10%; text-align: center;">Mở khóa</th>
					</tr>
				</thead>
				<tbody id="bodyTable">
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>